* {
    background-image: url("background.jpg");
    background-size: cover;
}

.head {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.bookmarks {
    margin: 15px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}


    
.category {
    margin: 15px;
    width: 250px;
    height: 180px;
    overflow-y: auto;
    
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
}



.category h2 {
    margin: 5px;
    color: white;
    text-align: center;
}

.category a {
    color: white;
    text-decoration: none
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.mostvisited:hover {
    border: 2px solid red;
}

.social:hover {
    border: 2px solid yellow;
}

.tcs:hover {
    border: 2px solid blue;
}

.learning:hover {
    border: 2px solid green;
}

.shopping:hover {
    border: 2px solid red;
}

.ai:hover {
    border: 2px solid yellow;
}

.movies:hover {
    border: 2px solid blue;
}

.share:hover {
    border: 2px solid green;
}